.moviesCardList {
  width: 100%;
  padding: 70px 0 80px 0;
}

.moviesCardList__container {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  justify-content: center;
  grid-auto-flow: row;
  row-gap: 30px;
  column-gap: 24px;
  margin: 0;
  padding: 0;
  @media screen and (min-width: 702px) and (max-width: 1139px) {
    grid-template-columns: repeat(auto-fit, 339px);
    row-gap: 36px;
    column-gap: 30px;
  }
  @media screen and (min-width: 320px) and (max-width: 701px) {
    grid-template-columns: repeat(auto-fit, 300px);
    row-gap: 16px;
    column-gap: 0;
    margin: 0 auto;
    column-gap: 20px;
  }
}

.moviesCardList__button-more {
  max-width: 320px;
  border: 1.5px solid #e8e8e8;
  border-radius: 5px;
  margin: 80px auto 0;
  padding: 10px 145px 8px;
  background-color: inherit;
  cursor: $cursor;
  &:hover {
    opacity: $buttonOpaity;
  }
  @media screen and (max-width: 460px) {
    padding: 10px 106px 8px;
  }
}
.moviesCardList__button-text {
  font-size: $buttonFontSize;
  line-height: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}
