.profile {
  width: 32%;
  display: flex;
  flex-direction: column;
  padding: 74px 0 70px;
  margin: 0 auto;
  @media screen and (min-width: 461px) and (max-width: 800px) {
    width: 53.38%;
    padding: 236px 0 269px;
  }
  @media screen and (min-width: 320px) and (max-width: 460px) {
    width: 81.25%;
    padding: 70px 0 40px;
  }
}

.profile__title {
  font-size: 1.5em;
  line-height: 29px;
  font-weight: 500;
  margin: 0;
}

.profile__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 123px 0 0;
  box-sizing: border-box;
  @media screen and (min-width: 461px) and (max-width: 800px) {
    margin: 96px 0 0;
  }
  @media screen and (min-width: 320px) and (max-width: 460px) {
    margin: 80px 0 0;
  }
}

.profile__label {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "title input"
    "error-message error-message";
  padding-bottom: 16px;
  &:nth-of-type(2) {
    padding-top: 17px;
    border-top: 1px solid #e8e8e8;
    padding-bottom: 0;
  }
}

.profile__description {
  grid-area: title;
  text-align: left;

  font-size: 0.687em;
  line-height: 14px;
  font-weight: 500;
}

.profile__input {
  grid-area: input;
  text-align: right;
  border: $listStyle;
  margin-right: 0;

  font-size: 0.687em;
  line-height: 14px;
  font-weight: 400;
  color: $fontColor;
}

.profile__input-error {
  grid-area: error-message;
  box-sizing: border-box;
  font-size: 0.62em;
  line-height: 12px;
  font-weight: 400;
  padding-top: 10px;
  font-style: normal;
  color: #ff0000;
}

.profile__input-success {
  grid-area: error-message;
  box-sizing: border-box;
  font-size: 0.62em;
  line-height: 12px;
  font-weight: 400;
  padding-top: 10px;
  font-style: normal;
  color: $buttomHover;
}

.profile__margin {
  margin-top: 24px;
}

.profile__button {
  margin: 220px auto 16px;
  border: $listStyle;
  background-color: inherit;
  @media screen and (min-width: 561px) and (max-width: 1139px) {
    margin: 210px auto 16px;
  }
  @media screen and (min-width: 320px) and (max-width: 560px) {
    margin: 379px auto 16px;
  }
}

.profile__button-text {
  font-size: 0.81em;
  line-height: 16px;
  font-weight: 400;
  color: #000;
  cursor: $cursor;
  &:hover {
    opacity: $buttonOpaity;
  }
  @media screen and (min-width: 320px) and (max-width: 560px) {
    font-size: $buttonFontSize;
    line-height: 16px;
  }
}

.profile__button-signout {
  border: $listStyle;
  background-color: inherit;
  margin: 0 auto;

  font-size: 0.81em;
  line-height: 16px;
  font-weight: 400;
  color: #ee3465;
  cursor: $cursor;
  &:hover {
    opacity: $buttonOpaity;
  }
  @media screen and (min-width: 320px) and (max-width: 560px) {
    font-size: $buttonFontSize;
    line-height: 15px;
  }
}
