@import "./vendor/fonts/inter.scss";
@import "./vendor/variables.scss";
@import "./vendor/normalize.css";
@import "./components/App/App.scss";
@import "./components/header/Header.scss";
@import "./components/main/Main.scss";
@import "./components/promo/Promo.scss";
@import "./components/navTab/NavTab.scss";
@import "./components/aboutProject/AboutProject.scss";
@import "./components/techs/Techs.scss";
@import "./components/aboutMe/AboutMe.scss";
@import "./components/portfolio/Portfolio.scss";
@import "./components/footer/Footer.scss";
@import "./components/form/Form.scss";
@import "./components/profile/Profile.scss";
@import "./components/moviesTemplate/MoviesTemplate.scss";
@import "./components/movies/Movies.scss";
@import "./components/savedMovies/SavedMovies.scss";
@import "./components/moviesCard/MoviesCard.scss";
@import "./components/moviesCardList/MoviesCardList.scss";
@import "./components/notFound/NotFound.scss";
@import "./components/popupNavigator/PopupNavigator.scss";
